[Unit]
Description=Set autologin-session to gamescope-session-steam
After=local-fs.target
Before=sddm.service gdm.service lightdm.service

[Service]
Type=oneshot
ExecStart=/usr/bin/steamos-startup-gamescope

[Install]
RequiredBy=sddm.service gdm.service lightdm.service
